#mainScreen {
	text-align: center;
}

/*******  Start Page  ****************/

#greetingPictureDiv {
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#greetingPicture {
}

#gameTopControl {
}

#startGame {
	margin-bottom: 1vh;
}

#exitGame {

}


/*******  Login Page ******************/

#welcomeUser {
	max-width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

#padding {
	height: 33vh;
}

#messageArea {
	float: center;
	max-width: 20em;
	height: auto;
	margin: 0 auto;
	text-align: left;
}

#welcomeText {
	font-size: 150%;
}

#nextButton {
	float: right;
	margin: 0 2em 0 0;
}

